<template>
    <header id="header">
        <img src="/css/LABI_logo.jpeg" alt="Labi Logo Icon" id="imgLogo">
        <div>
            <h4>Julia mzML imzML analysis GUI&nbsp;</h4>
            <h6>Please make sure the ibd, the mzML and the imzML files are located in the same directory and have the same name.</h6>
            <h6>It may take a while to generate the image and the plot, please be patient.</h6>
        </div>
    </header>
    <!-- TOP -->
    <div class="row">
        <div id="extDivStyle" class="st-col col-12 col-sm st-module">
            <div class="row">
                <!-- Left DIV -->
                <div id="intDivStyle" class="st-col col-12 col-sm st-module">
                    <!--<q-file v-model="file_route" filled="" label="Select your imzML file" accept=".imzML"></q-file>-->
                    <q-input id="textRoute" standout="custom-standout" v-model="file_route" label="Insert the route to your imzML file"></q-input>
                    <div class="row st-col col-12 col-sm">
                        <q-input id="textName" class="col-9" standout="custom-standout" v-model="file_name" label="Insert the name of your imzML file"></q-input>
                        <q-btn-dropdown
                        id="btnStyle"
                        class="col-3"
                        :loading="progressPlot"
                        :disable="btnPlotDisable"
                        label="Generate Plots"
                        icon="play_arrow"
                      >
                        <template v-slot:loading>
                          <q-spinner-hourglass class="on-left" />
                          Loading Plot
                        </template>
                        
                        <q-list>
                          <q-item clickable v-close-popup v-on:click="createSumPlot = true">
                            <q-item-section>
                              <q-item-label>Sum Spectrum Plot</q-item-label>
                            </q-item-section>
                          </q-item>
                          
                          <q-item clickable v-close-popup v-on:click="image3dPlot = true">
                            <q-item-section>
                              <q-item-label>Image 3D Plot</q-item-label>
                            </q-item-section>
                          </q-item>
                          
                          <q-item clickable v-close-popup v-on:click="triq3dPlot = true">
                            <q-item-section>
                              <q-item-label>TrIQ 3D Plot</q-item-label>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-btn-dropdown>
                    </div>
                    <p id="lblFullRoute">full route: {{full_route}} {{warning_fr}}</p>
                    <!-- Variable Manipulation -->
                    <div class="row">
                        <div class="st-col col-12 col-sm">
                            <q-input standout="custom-standout" id="textNmass" step="0.01" v-model="Nmass" label="Mass-to-charge ratio of interest" type="number" :rules="[ val => !!val || '* Required', val => val >= 0.0 &amp;&amp; val <= 2000.0 || 'Need positive mass values',]"></q-input>
                        </div>
                        <div class="st-col col-12 col-sm">
                            <q-input standout="custom-standout" id="textTol" step="0.01" v-model="Tol" label="Mass-to-charge ratio Tolerance" type="number" :rules="[val => !!val || '* Required', val => val >= 0.0 &amp;&amp; val <= 1.0  || 'Needs to be in range between 0 and 1',]"></q-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="st-col col-12 col-sm">
                            <q-toggle id="btnEnableTriq" v-on:click="triqEnabled" v-model="triqEnabled" color="blue" label="Add Threshold Intensity Quantization (TrIQ)!"></q-toggle>
                        </div>
                    </div>
                    <!-- Triq Variable Manipulation -->
                    <div class="row">
                        <div class="st-col col-12 col-sm-8">
                            <q-input standout="custom-standout" id="textTriqProb" step="0.01" v-model="triqProb" label="TrIQ Probability" type="number" :rules="[
                                    val => triqEnabled ? ( '* Required', val >= 0 &amp;&amp; val <= 1 || 'Needs to be in range between 0 and 1') : true
                                    ]" :readonly="!triqEnabled" :disable="!triqEnabled"></q-input>
                        </div>
                        <div class="st-col col-12 col-sm-4">
                            <q-input standout="custom-standout" id="textTriqColor" step="1" v-model="triqColor" label="TrIQ Color Levels" type="number" :rules="[
                                    val => triqEnabled ? ( '* Required', val >= 0 &amp;&amp; val <= 256  || 'Needs to be in range between 1 and 256') : true
                                    ]" :readonly="!triqEnabled" :disable="!triqEnabled"></q-input>
                        </div>
                    </div>
                    <q-btn id="btnStyle" :loading="progress" :disabled="btnStartDisable" icon="play_arrow" v-on:click="mainProcess = true" padding="lg">
                        Start Process
                        <template v-slot:loading>
                        <q-spinner-hourglass class="on-left" />
                        Loading...
                        </template>
                    </q-btn>
                    <p>{{msg}}</p>
                </div>
            </div><!--        <plotly :data="plotdata" :layout="plotlayout"> </plotly>-->
        </div>
        <div id="extDivStyle" class="st-col col-12 col-sm st-module">
            <div class="row">
                <!-- Right DIV -->
                <div id="intDivStyle" class="st-col col-12 col-sm st-module">
                    <h6>Image Visualizer</h6>
                    <!-- Btn image changer -->
                    <div>
                        <q-btn id="btnStyle" icon="arrow_back" rounded v-on:click="ImgMinus = true"></q-btn>
                        <q-btn id="btnStyle" icon="arrow_forward" rounded v-on:click="ImgPlus = true"></q-btn>
                    </div>
                    <!-- Image manager -->
                    <div id="image-container" class="row st-col col-12 col-sm items-center">
                        <div style="max-height: 500px; overflow: auto;" class="st-col col-10">
                            <q-img id="imgInt" class="q-ma-none q-pa-none" :src="imgInt" fit="scale-down"></q-img>
                        </div>
                        <div class="st-col col-2">
                            <q-img id="colorbar" class="q-ma-none q-pa-none" :src="colorbar"></q-img>
                        </div>
                    </div>
                    <p>{{msgimg}}</p>
                    <!-- Triq Btn image changer -->
                    <div>
                        <q-btn id="btnStyle" icon="arrow_back" rounded v-on:click="ImgMinusT = true"></q-btn>
                        <q-btn id="btnStyle" icon="arrow_forward" rounded v-on:click="ImgPlusT = true"></q-btn>
                    </div>
                    <!-- Triq Image manager -->
                    <div id="image-container" class="row st-col col-12 col-sm items-center">
                        <div style="max-height: 500px; overflow: auto;" class="st-col col-10">
                            <q-img id="imgInt" class="q-ma-none q-pa-none" :src="imgIntT" fit="scale-down"></q-img>
                        </div>
                        <div class="st-col col-2">
                            <q-img id="colorbar" class="q-ma-none q-pa-none" :src="colorbarT"></q-img>
                        </div>
                    </div>
                    <p>{{msgtriq}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom -->
    <div class="row">
        <!-- Bottom Left Div -->
        <div class="st-col col-12 col-sm st-module" >
            <plotly id="plotStyle" :data="plotdata" :layout="plotlayout" class="st-col col-12 col-sm-12"></plotly>
        </div>
        <!-- Bottom Right Div -->
        <div class="st-col col-12 col-sm st-module" >
            <plotly id="plotStyle3d" :data="plotdata3d" :layout="plotlayout3d" class="st-col col-12 col-sm-12"></plotly>
        </div>
    </div>

    <q-dialog v-model="warning_msg">
        <q-card>
        <q-card-section>
            <div class="text-h6">Warning</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
            {{msg}}
        </q-card-section>

        <q-card-actions align="right">
            <q-btn flat label="OK" style="color:#009f90" v-close-popup />
        </q-card-actions>
        </q-card>
    </q-dialog>

</template>
